<center>
<h1> Spaces Available </h1>
</center>
  <ul id='spaces'>
    <% @spaces.each do |space| %>
      <li>
        <h3> Name of place: </h3>
        <%= space.title %><br>
        <h4> Owner </h4>
         <%= space.user.name %><br>
        $<%= space.price %> a night<br>
        Description:
        <%= space.description %><br>
        <%= space.title %> by <%= space.user.name %><br>
        <%= space.description %><br>
        Available from: <%= space.available_dates.range.first %>, to: <%= space.available_dates.range.last %>

        <% if @user == space.user %>
            <form method='post' action='/spaces/edit'>
            <input type='hidden' name='space_id' value='<%= space.id %>'>
            <input type='submit' value='Edit your space'>
          </form>
        <% else %>
          <form method='post' action='/spaces/request'>
            <input type='hidden' name='space_id' value='<%= space.id %>'>
            <input type='submit' value='Rent this space'>
          </form>
        <% end %>

      </li>
    <% end %>
  </ul>
