<form method="get" action="/spaces/new">
  <input type='submit' value='List space'>
</form>

<h1> Spaces Available </h1>
  <ul id='spaces'>
    <% @spaces.each do |space| %>
      <li>
        <%= space.title %> by <%= space.user.name %><br>
        <%= space.description %><br>
        Available from: <%= space.available_dates.range.first %>, to: <%= space.available_dates.range.last %>
      </li>
    <% end %>
  </ul>
